.container {
  border: 1px solid rgb(201, 225, 233);
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  background-color: white;
}

.imgContainer {
  margin: 5px;
  width: 230px;
  height: 230px;
  background-position: center;
  background-size: cover;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.contentContainer {
  margin: 15px;
  /* border: 1px solid #111; */
  flex: 1;
}

.titleContainer {
  width: 100%;
}

.title {
  display: flex;
  align-items: baseline;
}

.detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  color: #999999;
}

.bahtIcon {
  height: fit-content;
}

.bahtIcon img {
  display: inline;
  height: auto;
  width: 15px;
}

.line {
  width: 60%;
  height: 1px;
  background-color: #efefef;
  margin: 1rem 0px;
}

.facilitaes {
  margin: 10px 0px;
}

.iconFacility {
  width: 30px;
  height: auto;
  margin: auto 0px;
  border: 1px solid #1dc402;
  padding: 5px;
  border-radius: 100em;
  margin-right: 0.5em;
}

@media screen and (max-width: 1025px) {
  .container {
    flex-direction: column;
  }

  .imgContainer {
    margin: 0px;
    width: 100%;
  }
}
