.container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  max-width: 1280px;
  margin: 0px auto;
  height: 60px;
}

.imgContainer {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.logo2 {
  display: none;
}

.imgContainer img {
  height: 40px;
  width: auto;
}

.inputContainer {
  flex: 1;
  height: fit-content;
  padding-right: 20px;
  margin: auto 0px;
}

.searchIcon {
  height: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  background-color: #f8f8f8;
}

.searchIcon img {
  height: 14px !important;
  width: 14px;
}

.dropDown {
  background-color: #f8f8f8;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0px 11px;
  flex: 1;
  width: 190px;
}

.dropDown img {
  height: 20px;
  width: auto;
}

.filterContainer {
  padding: 10px 0px;
  margin: auto 12px auto 12px;
  display: none;
}

.filterContainer img {
  height: 20px;
  width: auto;
}

.selection {
  width: 152px;
  text-align: left;
}

@media screen and (max-width: 776px) {
  .dropDown {
    display: none;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: inline;
  }

  .filterContainer {
    display: flex;
  }

  .imgContainer {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .inputContainer {
    padding-right: unset;
  }

  .inputContainer span span span:nth-child(1) {
    display: none;
  }

  .inputGroup {
    display: none;
  }
}
