* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  min-height: 100vh;
  background-image: url(./assets/images/result-bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: IBM Plex Sans Thai, sans-serif;
  font-weight: 400;
  line-height: 1.65;
}
